/* auth.css */

:root { 
  --form-main-colour: #003454;
  --form-accent-col: #607d8b;
  --form-success: #4CAF50;
  --form-warning: #ffeb3b;
  --form-error: #f44336;
  
  --checkbox-checkmark-colour: var(--form-success); 
}

.alert { margin: 16px auto; padding: 4px 8px; border-radius: 4px; background-color: #607d8b; color: #fff; }
.alert.error { background-color: var(--form-error); color: #fff; }
.alert.warning { background-color: var(--form-warning); color: #000; }
.alert.success { background-color: var(--form-success); color: #fff; }

form {
    max-width: 400px;
    width: 100%;
    margin: 1rem auto;
    padding: 2rem;
    color: inherit;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    box-sizing: border-box;
}

input, select, textarea {
  outline: 0;
  border: 0;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit], form button, .submit {
  width: 100%;
  max-width: 300px;
  display: block;
  background-color: #003366; 
  color: white;
  padding: 12px 20px;
  margin: 24px auto;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.5s ease; 
  border: 1px solid #eee;
  border-radius: 8px;
}

input[type=submit]:hover, form button:hover, .submit:hover {
  background-color: #282828;
}

.checkbox {
    width: 90%;
    margin: 16px auto;
  display: block;
  position: relative;
  padding-top: 4px;
  padding-left: 32px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: inherit;
  border: 1px solid #aaa;
  border-radius: 8px;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: var(--kei-light);
  transition: all 0.5s ease;
}

/* When the checkbox is checked, add a green background */
.checkbox input:checked ~ .checkmark {
  background-color: var(--checkbox-checkmark-colour);
  border-color: var(--checkbox-checkmark-colour);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after { content: ""; position: absolute; display: none; }
/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after { display: block; }

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type="text"], input[type="password"] {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
